.ProseMirror {
  // 覆盖默认样式
  &:focus-visible {
    outline: none !important;
  }
  // 段落样式
  p {
    padding: 0 3px;
    line-height: 26px;
  }
  // 光标选中样式
  &::selection {
    background: #c8c8f1;
  }
  & > :first-child {
    margin-top: 0;
  }
  .is-editor-empty:first-child::before {
    color: #bbbbbb;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
  h1,
  h2,
  h3,
  h4 {
    position: relative;
    color: inherit;
    font-style: inherit;

    &:first-child {
      margin-top: 0;
    }
  }
  h1 {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 3em;
  }
  h2 {
    font-size: 1.25em;
    font-weight: 700;
    margin-top: 2.5em;
  }
  h3 {
    font-size: 1.125em;
    font-weight: 600;
    margin-top: 2em;
  }
  h4 {
    font-size: 1em;
    font-weight: 600;
    margin-top: 2em;
  }
  // Inline code
  code {
    background-color: rgba(15,22,36,0.05);
    color: rgba(35,37,42,0.87);
    border: 1px solid rgba(37,39,45,0.1);
    font-family: "JetBrains Mono NL", monospace;
    font-size: 0.875em;
    line-height: 1.4;
    border-radius: 6px/0.375rem;
    padding: 0.1em 0.2em;
  }
  // Code blocks
  pre {
    background-color: rgba(56,56,56,0.04);
    color: rgba(30,32,36,0.95);
    border: 1px solid rgba(37,39,45,0.1);
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    padding: 1em;
    font-size: 1rem;
    border-radius: 6px/0.375rem;

    code {
      background-color: transparent;
      border: none;
      border-radius: 0;
      -webkit-text-fill-color: inherit;
      color: inherit;
    }
  }
}
.sandbox-type-in-brushing {
  cursor: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAi9JREFUSA3dVb+LGlEQ3nWjwiFEC7G5+AtZtvCOIESuczmOS5HGQptAiohglT6lf8TB4YEWSSOSyi5RCIEUwsLC3RUXDVhIsgQJwXSKP16+t3DL7tu3CkcCSRaGnfneNzNvZue9FYR//RF/RwHJZFLdbDaHPp9vJEnSl/V6vQ9bhn15b1eCVCp1CE6C8vx+vz4ajb7yfERRlBH0CeQU6+9gf8b7isd1YPF4/BxCqCQSiaeORY5BeXbYZzf+hP4fJyiXy5KqqnQIrCoJISZWr9ctbFdbXWOKkXuMSTiDY2aL8xpT8gEj+Xw8Hk/sPPqRJ5OJFdexk3Q6fR/B3+wITuNJqOZ4tVpd2IPzdEcCBD8CKcQj8jBUQflbH0cC7OrBVjazGIlEfjCQy3ScZPQ0XalUFtVqNehiMkC73V41Go23DOwyHQmi0ehxPp8PxmIxF5EFNE37Pp/P37M4a1stymQywdls9jCXy7Ecro0Ee4FA4CN30QZaCZbL5Yksy2IoFBJ6vZ5JWSwWXF3XdYIJMobDoWGLxVWtBGjLi1KpFBgMBkKz2TTJXnqn0/mGBG1uRAY0E6A9UbRHLRaL5o4LhYJJo5WwOkZZ6Ha7exjRDhPL28TpfVmr1X5Op1OSzWaJYRjES+/3+0RRFN0rGntdi/ReabVaQzgkvZw4eAXXwetbnP7RcIaeQR4BO4Bco0IN8sq6M27Jd3nTBPBT0D4tHA5/QrsV/C5pspu7xPu7fH4BGZvio4O1WFsAAAAASUVORK5CYII=) 20 10,text!important;
}
